<header class="ts-separate-bg-element">
    <!--NAVIGATION ******************************************************************************************-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top ts-separate-bg-element" data-bg-color="#141a3a">
        <div class="container">
            <a href="/home/index" class="navbar-brand">
                <img src="/img/logo/trewikelogo-white-01.png" alt="" style="width:122px;height:33px">
            </a>
            <!--end navbar-brand-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--end navbar-toggler-->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active ts-scroll" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link ts-scroll" href="#do-many-thing-with-us">Làm nhiều thứ với Trewike</a>
                    <a class="nav-item nav-link ts-scroll" href="#about-us">Về chúng tôi</a>
                    <a class="ts-scroll btn btn-primary btn-sm m-1 px-3 ts-width__auto" asp-action="CheckSession">Đến bảng của bạn</a>
                </div>
                <!--end navbar-nav-->
            </div>
            <!--end collapse-->
        </div>
        <!--end container-->
    </nav>
    <!--end navbar-->
</header>