@{
    ViewData["Title"] = "Home Page";
}

<div id="ts-hero" class="ts-full-screen">
    <!--HERO BACKGROUND *************************************************************************************-->
    <div class="ts-background" data-bg-color="#141a3a" data-bg-parallax="scroll" data-bg-parallax-speed="3">
        <div class="ts-background-image ts-svg ts-z-index__1 ts-background-position-left d-none d-md-block" data-bg-image="/landing_page/assets/svg/shape-mask.svg" data-animate="ts-fadeInLeft"></div>
        <div class="ts-background-image ts-parallax-element" data-bg-image="/landing_page/assets/img/backgroundsign.jpg" data-animate="ts-zoomOutIn"></div>
    </div>
    <!--END HERO BACKGROUND *********************************************************************************-->
    <!--HERO CONTENT ****************************************************************************************-->
    <div class="container align-self-center align-items-center">
        <div class="row">
            <div class="col-md-7">
                <h1 data-animate="ts-fadeInUp">Quản lý các dự án của bạn với chúng tôi</h1>
                <div data-animate="ts-fadeInUp" data-delay=".1s">
                    <p class="w-75 text-white mb-5 ts-opacity__50">Trewike - Ứng dụng quản lý dự án đầu hàng công nghệ</p>
                </div>
                <a href="#do-many-thing-with-us" class="btn btn-primary btn-lg ts-scroll mr-4" data-animate="ts-fadeInUp" data-delay=".2s">
                    Tìm hiểu thêm
                    <i class="fa fa-arrow-right small ml-3 ts-opacity__50"></i>
                </a>
            </div>
            <!--end col-md-7-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <!--END HERO CONTENT ************************************************************************************-->
</div>
<!--HOW IT WORKS ****************************************************************************************-->
<section id="do-many-thing-with-us" class="ts-block ts-xs-text-center pb-5">
    <div class="container">
        <div class="ts-title">
            <h2>Làm Nhiều Thứ Với Trewike</h2>
        </div>
        <!--end ts-title-->
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <span class="step" data-animate="ts-zoomIn">1</span>
                                <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                    <img src="https://images.ctfassets.net/rz1oowkt5gyp/gMfkjoA3yWYG3kat3qjpW/3902bfdfccf08869e33d63bbc9d1969b/Integrations_Puzzle.svg" alt="">
                                </div>
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>Tiện lợi</h4>
                            <p>
                                Luôn luôn tiện lợi khi sử dụng, dùng là thấy tiện. Trust me bro
                            </p>
                        </div>
                        <!--end ts-item-body-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay="0.1s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <span class="step" data-animate="ts-zoomIn">2</span>
                                <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                    <img src="https://images.ctfassets.net/rz1oowkt5gyp/7wxRW93hvb7858bMsK4LSs/f6fc44fb23dbc6ee9bc6a7f6e2af0fb7/Gears.svg" alt="">
                                </div>
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>Cơ chế linh hoạt</h4>
                            <p>
                                Thỏa mãn mọi nhu cầu quản lý dự án của bạn. Nếu không thỏa mãn, hãy cho chúng tôi biết ngay
                            </p>
                        </div>
                        <!--end ts-item-body-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay="0.2s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <span class="step" data-animate="ts-zoomIn">3</span>
                                <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                    <img src="https://images.ctfassets.net/rz1oowkt5gyp/mNa3Mi7T6ga2OTrNxJx1D/8991b8d57cd6ec7330398c7a8757b4dc/Search_Value.svg" alt="">
                                </div>
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>Tìm thấy cơ hội</h4>
                            <p>
                                Tìm thấy nhiều cơ hội phát triển doanh nghiệp, thành công luôn nằm trong bàn tay của chính bạn
                            </p>
                        </div>
                        <!--end ts-item-body-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--END HOW IT WORKS ************************************************************************************-->

<!--ABOUT US ********************************************************************************************-->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="ts-block pr-3">
                    <div class="ts-title">
                        <h2>Về chúng tôi</h2>
                    </div>
                    <!--end ts-title-->
                    <p>
                        Mang sứ mệnh quản lý dự án tầm cỡ thế giới, chúng tôi luôn nỗ lực phát triển để có thể mang những 
                        ứng dụng quản lý dự án đầu hàng công nghệ đến với các quý ông quý bà Việt Nam
                    </p>
                    <div class="list-group list-group-flush mb-5">
                        <a href="#collapseOne" class="list-group-item list-group-item-action border-top-0 pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">Nhiệm vụ của chúng tôi</a>
                        <div class="collapse" id="collapseOne">
                            <p class="pt-3 small">
                                Giúp cho việc quản lý dự án trở nên dễ dàng và hiệu quả hơn bất cứ cái bánh quy hay siêu máy tính nào trên thế giới
                            </p>
                        </div>
                        <a href="#collapseTwo" class="list-group-item list-group-item-action pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseTwo">Yêu các thượng đế</a>
                        <div class="collapse" id="collapseTwo">
                            <p class="pt-3 small">
                                Luôn đặt khách hàng lên đầu, chúng tôi nguyện phục vụ khách hàng từ chân đến tóc
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-md-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <div class="ts-background d-none d-sm-block" data-bg-color="#fafafa" data-bg-parallax1="scroll" data-bg-parallax-speed="3">
        <div class="owl-carousel w-50 ts-push-left__100 h-100 ts-parallax-element1" data-owl-loop="1" data-owl-nav-container="#carousel-external-control">
            <div class="ts-background-image" data-bg-image="/landing_page/assets/img/backgroundwithlogo-01.png"></div>
        </div>
        <!--end owl-carousel-->
    </div>
    <!--end ts-background-->

</section>
<!--END ABOUT US ****************************************************************************************-->

